*{
    font-family: 'Roboto', sans-serif;
}
.bannercaption{
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.fa-facebook-f, .fa-twitter, .fa-linkedin-in,.fa-instagram{
    background-color: rgba(128, 128, 128, 0.589);
    border-radius: 50%;
    padding: 10px 13px ;
    color: white;
}

.footersection{
    height: 400px;
}